### Importing Modules required

In [121]:
import pandas as pd
import numpy as np
from scipy import stats
from collections import defaultdict
from sklearn.metrics.pairwise import cosine_similarity

### Importing the data

In [122]:
raw_data2 = pd.read_csv('~/Documents/6242 Project/fall2018cse6242/data/phoenix_business_ws_rw_ffall_merged2.csv', skipinitialspace=True)

In [123]:
# Dropping unecessary columns

drop_cols = ['zipcode', 'zipcode.1', 'ffall_category', 'CuisineCombined', 'male', 'female', 'under_18', 'above_18', 'review_count']
data = raw_data2.drop(columns=drop_cols)
data.head()

,business_id,Mexican,American (Traditional),Pizza,American (New),Burgers,Italian,Chinese,Salad,Sports Bars,...,afam_pop,amindian_pop,asian_pop,hawaiian_pop,other_race,median_income,median_age,walkscore,ffall,stars
0,_c3ixq9jYKxhLUB0czi0ug,0,0,0,0,1,0,0,0,1,...,1880,440,313,17,3479,27557,35.0,60.0,987,4.0
1,3ByGQOVgds2YEu6kzl-XEQ,0,1,0,0,0,0,0,0,1,...,2716,920,444,67,18109,35571,25.0,43.0,12,2.5
2,CeuTRtwsq6w5rztGOyNMPg,1,0,0,0,0,0,0,0,0,...,2716,920,444,67,18109,35571,25.0,43.0,20,2.5
3,AcGRSWCpb7YB95MTsHlGEw,0,0,1,0,0,0,0,0,0,...,2716,920,444,67,18109,35571,25.0,43.0,3,2.0
4,cKRMmytHxaSt8F0SMEzKqg,1,0,0,0,0,0,0,1,0,...,1211,507,1051,58,3705,51483,34.8,36.0,840,3.5

In [124]:
data = data.set_index('business_id')
# data = data.apply(lambda x: (x - np.mean(x)) / np.std(x), axis=0)

In [125]:
data = data.apply(lambda x: x / np.max(x), axis=0)

In [126]:
data.columns

Index(['Mexican', 'American (Traditional)', 'Pizza', 'American (New)',
       'Burgers', 'Italian', 'Chinese', 'Salad', 'Sports Bars', 'Seafood',
       'Japanese', 'Barbeque', 'Mediterranean', 'Sushi Bars', 'Asian Fusion',
       'Steakhouses', 'Greek', 'Tex-Mex', 'Thai', 'Vietnamese', 'Indian',
       'Middle Eastern', 'Southern', 'Latin American', 'Hawaiian', 'Korean',
       'French', 'Caribbean', 'Pakistani', 'Ramen', 'New Mexican Cuisine',
       'Modern European', 'Spanish', 'African', 'Cantonese', 'Persian/Iranian',
       'Filipino', 'Cuban', 'Mongolian', 'Lebanese', 'Polish', 'Taiwanese',
       'German', 'Turkish', 'Ethiopian', 'Brazilian', 'Afghan', 'total_pop',
       'occupied_housing_units', 'white_pop', 'afam_pop', 'amindian_pop',
       'asian_pop', 'hawaiian_pop', 'other_race', 'median_income',
       'median_age', 'walkscore', 'ffall', 'stars'],
      dtype='object')

### Using Cosine Similary to find similar Restaurants

In [127]:
def cos_sim(a, b):
    """Takes 2 vectors a, b and returns the cosine similarity according 
    to the definition of the dot product
    """
    dot_product = np.dot(a, b)
    norm_a = np.linalg.norm(a)
    norm_b = np.linalg.norm(b)
    return dot_product / (norm_a * norm_b)

In [128]:
# sim_matrix = defaultdict(dict)
# for i, row1 in test.iterrows():
#     for j, row2 in test.iterrows():
#         sim_matrix[i][j] = cos_sim(row1, row2)

In [129]:
# def similar_rest(rest_id, n):
#     x = sim_matrix[rest_id]
#     similar_list = sorted(x.items(), key=lambda kv: -kv[1])[1:n+1]
#     return list(dict(similar_list).keys())

In [134]:
df = data
def similar_restaurants(restaurant_id, n):
    sim_score = defaultdict()
    out = []
    a = df.loc[restaurant_id]
    for biz_id, row in df.iterrows():
        sim_score[biz_id] = cos_sim(a, row)
    sim_list = sorted(sim_score.items(), key=lambda kv: -kv[1])[1:n+1]
    
    for (x, y) in sim_list:
        out.append(x)
    return out

In [132]:
b_id = '_c3ixq9jYKxhLUB0czi0ug'
out = similar_restaurants(b_id, 6)
out

['Bonny62rswQQ6-sC1DpOrA',
 '1kDS1homhHy0gr5N95oGzw',
 'dnBQZpWTyJzTe0QJf7YK5w',
 'Sg36zmOvyPAmuz6vME56Vw',
 'dq4c_0btrrdcz_Nq6RV02g',
 'HJFKqzhV4n4ZWepneOzFhQ']

In [108]:
print('similar restaurants for https://www.yelp.com/biz/'+b_id+' are: \n')
for each in out:
    
    print('https://www.yelp.com/biz/'+each)

similar restaurants for https://www.yelp.com/biz/_c3ixq9jYKxhLUB0czi0ug are:

https://www.yelp.com/biz/Bonny62rswQQ6-sC1DpOrA
https://www.yelp.com/biz/1kDS1homhHy0gr5N95oGzw
https://www.yelp.com/biz/dnBQZpWTyJzTe0QJf7YK5w
https://www.yelp.com/biz/Sg36zmOvyPAmuz6vME56Vw
https://www.yelp.com/biz/dq4c_0btrrdcz_Nq6RV02g

Index(['Mexican', 'American (Traditional)', 'Pizza', 'American (New)',
       'Burgers', 'Italian', 'Chinese', 'Salad', 'Sports Bars', 'Seafood',
       'Japanese', 'Barbeque', 'Mediterranean', 'Sushi Bars', 'Asian Fusion',
       'Steakhouses', 'Greek', 'Tex-Mex', 'Thai', 'Vietnamese', 'Indian',
       'Middle Eastern', 'Southern', 'Latin American', 'Hawaiian', 'Korean',
       'French', 'Caribbean', 'Pakistani', 'Ramen', 'New Mexican Cuisine',
       'Modern European', 'Spanish', 'African', 'Cantonese', 'Persian/Iranian',
       'Filipino', 'Cuban', 'Mongolian', 'Lebanese', 'Polish', 'Taiwanese',
       'German', 'Turkish', 'Ethiopian', 'Brazilian', 'Afghan', 'total_pop',
       'occupied_housing_units', 'white_pop', 'afam_pop', 'amindian_pop',
       'asian_pop', 'hawaiian_pop', 'other_race', 'male', 'female',
       'median_income', 'median_age', 'under_18', 'above_18', 'walkscore',
       'ffall', 'stars', 'review_count'],
      dtype='object')